<%- include('../partials/header.ejs') %>

  <main>
    <h1>All Your Events</h1>
    <ul class="event-list">
      <% events.forEach(event => { %>
        <li class="event-item">
          <a href="/events/<%= event._id %>">
           <span class="event-date"><%= event.formattedDate %></span> - 
          <span class="event-venue"><%= event.venueName %></span>
          </a>
        </li>
        <% }) %>
    </ul>
  </main>



  <%- include('../partials/footer.ejs') %>