<%- include('../partials/header.ejs') %>

<main>
  <h1>All Your Events</h1>
  <ul>
    <% user.events.forEach(event => { %>
      <li>
        <h2>
          <a href="/events/<%= event._id %>">
            <%= event.venueName %> — <%= new Date(event.dateOfEvent).toDateString() %>
          </a>
        </h2>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer.ejs') %>
