<%- include('../partials/header.ejs') %>

    <main>

        <h1>
            <%= event.venueName %> - <%= new Date(event.dateOfEvent).toDateString() %>
        </h1>
        <ul>
            <li><strong>Income:</strong> $<%= event.income %>
            </li>
            <li><strong>House Fee:</strong> $<%= event.expenseHouseFee %>
            </li>
            <li><strong>Tip Out:</strong> $<%= event.expenseTipOut %>
            </li>
            <li><strong>Travel:</strong> $<%= event.expenseTravel %>
            </li>
            <li><strong>Promo:</strong> $<%= event.expensePromo %>
            </li>
            <li><strong>Other Expenses:</strong> $<%= event.expenseOther.amount %>
            </li>
            <li><strong>Note:</strong>
                <%= event.expenseOther.note %>
            </li>
        </ul>


        <form action="/events/<%= event._id %>/edit" method="GET">
            <button type="submit">EDIT</button>
        </form>

        <form action="/events/<%= event._id %>?_method=DELETE" method="POST"
            onsubmit="return confirm('Are you sure you want to delete this event?');">
            <button type="submit">DELETE</button>
        </form>
        <br>

        <a href="/events/allevents">Back to all events</a>

    </main>

    <%- include('../partials/footer.ejs') %>